body{
    margin: 0px;
    background: #CDCDC1;
    text-align: center;
    color: #1039e0;
    font-family: 'Verdana';
    position: relative;
    padding-bottom: 80px;
}
nav ul>li{
    list-style: none;
    display:inline;
}
.btn{
    background: #1039e0;
    background-image: -webkit-linear-gradient(top, #1039e0, #2bb3b8);
    background-image: -moz-linear-gradient(top, #1039e0, #2bb3b8);
    background-image: -ms-linear-gradient(top, #1039e0, #2bb3b8);
    background-image: -o-linear-gradient(top, #1039e0, #2bb3b8);
    background-image: linear-gradient(to bottom, #1039e0, #2bb3b8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #e7f5f0;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #42d934);
        background-image: -moz-linear-gradient(top, #3cb0fd, #42d934);
        background-image: -ms-linear-gradient(top, #3cb0fd, #42d934);
        background-image: -o-linear-gradient(top, #3cb0fd, #42d934);
        background-image: linear-gradient(to bottom, #3cb0fd, #42d934);
        text-decoration: none;
}
nav{
    text-align: center;
    width: 100%;
    height: 200px;
    margin-bottom: -8px;
    padding-top: 20px;
    float: top;
    background: #CDCDC1;
}
h1{
    font-size: 45px;
    color: #1039e0;
}

#meiohome{
    float: top;
    margin-top: -8px;
    padding-top: 10px;
}
ul{
    padding:0px;
    margin-bottom:0px;
}
hr{
    margin-top:0px;
}
ul>li{
    list-style:none;
    padding-bottom: 20px;
}
#rodape{
    width: 100%;
    height: 60px;
    text-align: center;
    float: top;
    position: fixed;
    bottom: 0;
    left: 0;
    background: inherit;
}
.tabela{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: none;
    margin-left: 29.3%;
}
.tabela1{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: none;
    margin-left: 31.5%;
}
.formatação{
    padding-left: 25px;
}